
/* Generic Utility */



/* Generic Utility */


.tabsInfo{
	width: 100%;
	height: 100%;
	background: #eee;
}
/* Specific to example two */
.tabsInfo .list-wrap {
	margin: 0px 0px 0px 0px;  
}
.tabsInfo .list-wrap .subCategoria .temas{
	background:#eee;		
	border-radius:15px;
	margin: 15px 0px 0px 0px;
	width:100%;  
}
.tabsInfo .list-wrap .subCategoria .enlace{
	font-size:12px;
	margin: 0px 0px 0px 20px;  
	display: block; 
	text-align : justify;
	width:92%;
}
.tabsInfo .list-wrap .subCategoria .enlace a{
	text-decoration:none;
	color: #333333;
	padding: 10px;
}
.tabsInfo ul { 
	list-style: none;  
	width: auto; 
	margin: 0px; 
	padding: 1px; 
	text-decoration: none;
}
.tabsInfo ul li a {
	text-decoration: none;
	outline: 0;
	font-size:14px;
	display: block; 
	border-bottom: 1px dotted #666; 
	padding: 14px; 
	color: #333333; 
	text-decoration: none;
}
.tabsInfo ul li a:hover { 
	background: #333; 
	color: white; 
}
.tabsInfo ul li:last-child a { 
	border: none; 
	text-decoration: none;
}
.tabsInfo .nav { 
	overflow: hidden; 
	text-decoration: none;
	font-weight:bold; 
}
.tabsInfo .nav li { 
	width: 178px;
	height:100%; 
	float: left; 
	margin: 0px 10px 0px 0px; 
}
.tabsInfo .nav li.last { 
	margin-right: 0; 
	text-decoration: none;
}
.tabsInfo .nav li a { 
	display: block;  
	background: #666; 
	color: white; 
	font-size: 9px; 
	text-align: center; 
	border: 0; 
	text-decoration: none;
}

.tabsInfo li a.current,.tabsInfo li a.current:hover { 
	background-color: #eee !important; 
	color: black; 
	text-decoration: none;
}
.tabsInfo .nav li a:hover, .tabsInfo .nav li a:focus { 
	background: #999; 
	text-decoration: none;
}